body{
  background:lightsalmon;
}
.brk{
  <!--   you can change the width according to the environment -->
  overflow-y: auto !important;
    height: 39px;
    white-space: pre-wrap !important;
    width: 140px !important;
}
